@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bs-font-sans-serif: "Inter", Arial, sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

.fs-15 { font-size: 15px !important;}

.fw-medium { font-weight: 500 }

.text-50 { color: rgb(190, 190, 190) }

.text-100 { color: rgb(140, 140, 140) }

a:hover { color: rgb(0, 0, 0) }

h1 { font-weight: bold; }

h2, h3, h4, h5 { font-weight: 600; }

h1, h2, h3, h4, h5 {
    font-family: "Inter Tight", Arial, sans-serif;
    letter-spacing: -0.01em;
}

.page-title {
    font-weight: bold;
    margin-bottom: 1.5rem
}

body, p, span, a, button {
    font-size: 16px;
    letter-spacing: -0.02em;
}

.container {
    max-width: 1200px;
    padding-inline: 16px;
}

.navbar {
    padding-block: 12px;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid rgba(0,0,0,0.08);
    backdrop-filter: blur(8px);
    font-size: 15px !important;

    .nav-search {
        border-radius: 12px;
        background-color: rgba(0,0,0,0.05);
        border: 1px solid rgba(0,0,0,0.05);

        > .form-control {
            font-size: 15px;
        }

        > button {
            background-color: rgba(0,0,0,0.05);
        }
    }
}

.dropdown-menu {
    border-radius: 16px !important;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden !important;

    :active {
        > svg {
            filter: invert(1);
        }
    }
}

main {
    margin-top: 63px;

    @media (width < 992px) {
        margin-top: 57px;
    }

    > .container, .container-fluid {
        padding: 4rem 1rem;
    }
}

.footer {
    background-color: rgb(255,255,255) !important;
    border-top: 1px solid rgba(0,0,0,0.08);

    > .container {
        padding-block: 2.5rem 3rem;
    }
}

/* FILME/INDEX */
.card-filme:hover {
    > h5 {
        color: var(--bs-link-color);
    }
}










.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}

