@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bs-font-sans-serif: "Inter", Arial, sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);

    /* CORES */
    --gray-50:  #f8f9fa;
    --gray-100: #f5f5f5;
    --gray-200: #eaeaea;
    --gray-300: #dcdcdc;
    --gray-400: #bfbfbf;
    --gray-500: #999999;
    --gray-600: #7b7b7b;
    --gray-700: #6b747c;
    --gray-800: #505050;
    --gray-900: #333333;
}

.fs-14 { font-size: 14px !important;}

.fs-15 { font-size: 15px !important;}

.fw-medium { font-weight: 500 }

.text-50 { color: rgb(190, 190, 190) }

.text-100 { color: rgb(140, 140, 140) }

h1 { font-weight: bold; }

h2, h3, h4, h5 { font-weight: 700; }

h1, h2, h3, h4, h5 {
    font-family: "Inter Tight", Arial, sans-serif;
    letter-spacing: -0.01em;
}

.link-dark {
    color: var(--bs-dark-rgb) !important;
}


.link-dark:hover {
    color: var(--bs-link-color) !important;
}

.page-title {
    font-weight: bold;
    margin-bottom: 1.5rem
}

body, p, span, a, button {
    font-size: 16px;
    letter-spacing: -0.02em;
}

.container {
    max-width: 1200px;
    padding: 2.5rem 1rem;
}

.navbar {
    padding-block: 12px;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid rgba(0,0,0,0.08);
    backdrop-filter: blur(8px);
    font-size: 15px !important;

    > .container {
        padding-block: 0 !important;
        padding-inline: 1rem !important;
    }

    .nav-search {
        border-radius: 12px;
        background-color: rgba(0,0,0,0.05);
        border: 1px solid rgba(0,0,0,0.05);

        > .form-control {
            font-size: 15px;
        }

        > button {
            background-color: rgba(0,0,0,0.05);
        }
    }
}

.dropdown-menu {
    border-radius: 12px !important;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden !important;

    :active {
        > svg {
            filter: invert(1);
        }
    }
}

main {
    margin-top: 63px;

    @media (width < 992px) {
        margin-top: 57px;
    }
}

.footer {
    background-color: rgb(255,255,255) !important;
    border-top: 1px solid rgba(0,0,0,0.08);

    > .container {
        padding-block: 2.5rem 3rem;
    }
}

.form-select {
    font-size: 14px;
    color: #6b747c;
    background-color: var(--gray-100);
    border-radius: 10px;
    border-color: var(--gray-200);
    padding: 8px 12px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%236b747c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
}

.form-label {
    color: #888888;
    font-weight: 500;
    font-size: 14px;
}

.form-control {
    border-color: var(--gray-200);
    color: var(--gray-900);
    background-color: var(--gray-100);
    border-radius: 10px;
    padding-block: 8px;
    font-size: 15px;
}

.form-control:focus {
    background-color: var(--gray-50);
}

.form-control::placeholder {
    color: var(--gray-500);
}

.box-gray {
    background-color: #f6f7f8;
    border: 1px solid var(--gray-200);
    padding: 1rem;
    border-radius: 1.5rem;
}

.box-white {
    background-color: white;
    border: 1px solid #f4f4f4;

    border-radius: 1.5rem;
    padding: 1rem;
}

/* FILME/INDEX */
.btn-estado-filme {
    border-radius: 1000px;
    padding-inline: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #8A8A8A;
}

.btn-estado-filme:active {
    border-color: transparent !important;
}

.btn-estado-filme.active {
    background-color: #ededed !important;
    border-color: transparent;
}

#dropdownCinema {
    color: #7b7b7b;
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    border-radius: 8px;
    padding: 6px 12px;
}

#dropdownCinema:hover, #dropdownCinema:active, #dropdownCinema.active, #dropdownCinema.show, #dropdownCinema:first-child:active, #dropdownCinema:focus:not(:focus-visible) {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
}

/* FILME/INDEX */
.card-filme:hover {
    > h5 {
        color: var(--bs-link-color);
    }
}

/* FILME/VIEW */
.badge-genero {
    border-radius: 1000px;
    font-size: 13px;
    padding: 3px 10px;
    font-weight: 450;
    color: #878787;
    background-color: #f2f2f2;
    margin-right: 2px;
    border: 1px solid #dcdcdc;
}





.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}

